.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 1em;
  border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}
.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 0 auto;
	width: 550px;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.result h2 {

}



.result p {
	width: 200px;
	position: relative;

	
}

div.user-profile-image {
	position: relative;
	width: 200px;
	top: -190px;
	float: right;
}

.user-profile-image img {
	border: 2px solid black;
	border-radius: 10px;
	width: 175px;
}

span.title {
	font-size: 1em;
	font-weight: bold;
}